.data{
    padding-top: 7%;
    text-align: left;
}

.footerSet{
    background: var(--footer_bg);
    color: var(--footer_color)
}
.myLine{
    padding-top: 10%;
}

.lineOne{
    padding-bottom: 9vh;
}

.fixedFooter{
    position: fixed;
    bottom: 0;
    min-height: 6vh;
    background: var(--body_edubg);
    min-width: 100vw;
}

.resume{
    text-decoration: none;
    color:var(--body_color);
}

.resume:hover{
    text-decoration: none;
    color:var(--body_color)
}