.mySkill {
    background: rgb(255, 255, 255);
    max-width: 100px;
    max-height: 100px;
}

.carousel {
    z-index: 3;
    position: relative;
    left: 10vh;
    padding-bottom: 10vh;
    padding-top: 10vh;
    max-width: 100px;

}

.rr {
    background: red !important;
}
